.add-event-container,
.event-management{
    overflow: hidden;
    padding:0 50px
}

.add-event-form .form-field-container{
    column-count: 2
}

.add-event-form  .button-primary{
    margin-top:30px;
    width:100%;
}

.add-event-form .button-primary button{
    width:100%
}

.add-event-form input[type="text"], .add-event-form textarea, .add-event-form .ant-select{
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px 
}

.add-event-form .control-group{
    margin-bottom: 15px;
    padding-right:15px
}

.add-event-form .control-group:last-child{
    clear:both;
    width:100%;
}