.quickAddVolunteers{
    background: #ececec;
    padding: 20px 20px 10px;
    border-radius: 10px;
    margin-top: 20px;
}

.quickAddVolunteers h3:first-child{
    margin-top: 0
}

.quick-invite-form .form-field-container{
    column-count: 1
}

.quick-invite-form  .button-primary{
    margin-top:10px;
    width:100%;
}

.quick-invite-form .button-primary button{
    width:100%
}

.quick-invite-form input[type="text"], .quick-invite-form textarea, .quick-invite-form .ant-select{
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px 
}

.quick-invite-form .control-group{
    margin-bottom: 15px;
    padding-right:15px
}